<!DOCTYPE html>
<html>
    <head>
        <title>{{global.site.title}}</title>
        <link rel="stylesheet" href="/assets/css/main.css">
        
    </head>
    <body>
        <nav>
            {{#each global.navigation.items}}
            <a href="{{url}}">{{title}}</a>
            {{/each}}
            <a href="#" class="icon">&#9776;</a>
        </nav>
        <article>
{{>@partial-block}}
        </article>
{{!-- <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
    </body>
</html>