<!DOCTYPE html>
<html>

<head>
    <title>{{global.site.title}}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="robots" content="noindex" />
</head>

<body>
    <div class="pagebg">
    </div>
    <header>
        <span>
                {{global.site.title}}
            </span>
    </header>
    <main>
        <nav>
            <a href="/">
                <svg viewBox="0 0 66.145832 30.427085">
                    <use xlink:href="/assets/img/jazoo-logo.svg#jazoo-svg"></use>
                </svg>
            </a>
            {{#each global.navigation.items}}
            <a href="{{url}}">{{title}}</a> {{/each}}
            <a href="javascript:void();" class="icon">&#9776;</a>
        </nav>
        <article>
            {{>@partial-block}}
        </article>
        
    </main>

    <script data-main="/assets/js/main.js" src="/assets/js/require.js"></script>
    {{!--
    <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
</body>

</html>