$color-nav: $color-dark;

/*#color1:first-child, .color-accent {
    stop-color: $color-accent;
}
.color-accent-dark {stop-color: darken($color-accent, 15%);}*/


body {
    background: black;
}

main {
    height: 100%;
    width: 100%;
}

section {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 1em;
    padding: 1em;
    text-align: center; //max-width: $view-tablet-threshold;
    header {
        font-size: 2.1em;
    }
    div {
        margin: auto;
        max-width: $view-tablet-threshold;
        margin-bottom:60px;
    }
    svg {
        stroke: white;
        stroke-width: 0.5;
        fill: white;
        max-width: 300px;
    }
    &:nth-child(odd) {
        background-color: $color-accent;
        background-image:url(/assets/img/bg-landing.svg);
        background-size: cover;
        background-repeat: no-repeat;
        //background: linear-gradient(135deg, $color-accent, darken($color-accent, 15%)); //padding-bottom: 50px;
        min-height: 50vh;
        //padding-bottom: 40px;
    }
    &:nth-child(even) {
        position: absolute;
        left: 0;
        right: 0;
        background: linear-gradient(135deg, $color-dark 35%, lighten($color-dark, 25%) 36%, lighten($color-dark, 20%) 40%, $color-dark 41%);
        border-top: 2px solid lighten($color-dark, 22%);
        min-height: calc(50vh - 70px);    
    }
}

nav {
    position: absolute;
    top: -60px;
    max-width: $view-mobile-threshold;
    left: 0;
    right: 0;
    margin: 0 auto;
    //background-color: $color-nav;
    line-height: #{$nav-height};
    width: 100%;
    //border-radius: 15px;
    display: block;
    :first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    :last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    a {
        background: rgba($color-nav, 0.95);
        display: block;
        color: white;
        text-align: center;
        padding: 0px 12px;
        text-decoration: none;
        font-size: 18px;
        float: none;
        border: 1px solid $color-nav;
        /*border-left-color: $color-nav;
        border-right-color: $color-nav;*/
        //border-radius: 10px;
    }
    a:hover, a:active {
        background-color: $color-nav;
        color: white;
        border: 1px solid $color-accent;
    }
    a.active {
        background-color: $color-accent;
        color: white;
    }
}