$background-blur-amount: 5px;
$background-overscale: 0 - ($background-blur-amount * 2);

body {
    margin: 0;
    background: white; 
}

main {
    max-width: $article-width-max;
    margin: auto;
    @include depthShade(15px, 10, rgba(0, 0, 0, 0.25));
}

article {
    margin: auto;
    background-color: rgba($color-light, 0.95);
    padding: $gutters;
}

footer {
    position: relative;
    min-height: 140px;
    
    color: darken($color-light, 25%);
    font-size: 0.8em;
    span {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: $view-tablet-threshold;
        margin: auto;
        vertical-align: bottom;
    }
}

.spacer {
    height: 2em;
}

.pagebg {
    position: fixed;
    z-index: -10;
    left: $background-overscale;
    top: $background-overscale;
    right: $background-overscale;
    bottom: $background-overscale;
    filter: blur($background-blur-amount);
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url(/assets/img/background.jpg);
    @include viewPrinter() {
        display: none;
    }
}