@import url('https://fonts.googleapis.com/css?family=Dosis|Merriweather|Roboto');
body {
    font-family: 'Merriweather', serif;
}

nav {
    font-family: 'Dosis', sans-serif;
}

.wbill textarea,
.wbill {
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 2em;
    font-weight: bold;
}

.deco-b {
    font-weight: bold;
}

.deco-u {
    text-decoration: underline;
}

.al-right {
    text-align: right;
}

.al-center {
    text-align: center;
}

.header {
    padding-bottom: 0.15em;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: 1px solid darken($color-light, 35%);
    border-top: 1px solid darken($color-light, 15%);
}

@media print {
    .noprint {
        display: none;
    }
}

.phone { 
    a {
        &:link {
            color: darken($color-accent, 10%);
        }
    }
}
.email a {
    color: black;
}