@import url('https://fonts.googleapis.com/css?family=Dosis|Merriweather|Roboto');

body {
    font-family: 'Merriweather', serif;
}

nav {
    font-family: 'Dosis', sans-serif;
}

.wbill textarea, .wbill {
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 2em;
    font-weight: bold;
}

.deco-b {
    font-weight: bold;
}

.deco-u {
    text-decoration: underline;
}

.al-right {
        text-align: right;
    }
    .al-center {
        text-align: center;
    }