.page-header {
    position: relative;
    z-index: 30;
    display: block;
    padding: none;
    margin: none;

    width: 100%;
    overflow: hidden;
    img {
        position: absolute;
        width: 100vw;
        /*height: 20vw;
    max-height: $header-height;*/
        margin: 0px;
        filter: blur(5px);
    }
    
}

header {
    position: relative;
    height: 100px;
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 4px #eee, 0 0 6px #ddd;
    vertical-align: bottom;
    span {
        position: absolute;
        left:0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    @include viewPrinter() {
        display: none;
    }
    svg {
      fill: $color-accent;
    }
}