.location {
    margin-bottom: 2em;
    display: block;
    .name {
        display: block;
        font-size: 1.5em;
    }
    .details {
        display: table;
        width: 100%;
        @include viewPhone() {
            display: block;
            width: 100%;
        };
    }
    .address,
    .contact {
        display: table-cell;
        width: 50%;
        @include viewPhone() {
            display: block;
            width: 100%;
            margin-bottom: 0.5em;
        };
    }
    .servicearea {
        width: 100%;
        @include viewPhone() {
            display: block;
            margin-bottom: 0.5em;
        }
    }
}
