.location {
    margin-bottom: 2em;
    display: block;
}

.location .name {
    display: block;
    font-size: 1.5em;
}

.header {
    padding-bottom: 0.15em;
}

.location .details {
    display: table;
    width: 100%;
}

.location .address, .location .contact {
    display: table-cell;
}

.location .servicearea {
    width: 100%;
}

.location .address, .location .contact {
    width: 50%;
}

@media screen and (max-width: $mobile-view-threshold) {
    .location .details {
        display: block;
        width: 100%;
    }
    .location .address, .location .contact, .location .servicearea {
        display: block;
        width: 100%;
        margin-bottom: 0.5em;
    }

}