nav {
    background-color: $color-dark;
    overflow: hidden;
    line-height: #{$nav-height}
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
    font-size: 18px;
}

nav a img {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav a:first-child {
  line-height:0px;
}

nav a:hover {
    background-color: #000;
    color: white;
}

nav a.active {
    background-color: $color-accent;
    color: white;
}

nav .icon {
    display: none;
    font-weight: bolder;
    color: white;
    font-size: 1.6em;
}

@media screen and (max-width: $mobile-view-threshold) {
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: $mobile-view-threshold) {
  nav.responsive {position: relative;}
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}