$color-nav: $color-dark;

/*nav:not(.sticky) {
  max-width: 1040px;
}*/
nav.sticky {
    position: fixed;
    top: 0;
    max-width: $article-width-max;
    width:100%;
    border-radius: 0px;
  }

.sticky + article {
  padding-top: 80px;
  @include viewPrinter() {
    padding-top: 0px;
  }
}

nav {
  background-color: $color-nav;
  overflow: hidden;
  line-height: #{$nav-height};
  //max-width: 1100px;
  //border-radius: 5px;
  border-bottom: 2px solid lighten($color-nav, 30%);
  border-right: 2px solid lighten($color-nav, 30%);
  margin: auto;
  @include viewTablet() {
    border-radius: 0px;
  }
  a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
    font-size: 18px;
    border-left: solid 1px $color-nav;
    border-right: solid 1px $color-nav;
    img, svg {
      height: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    svg {
      fill: $color-accent;
    }
    &:first-child {
      line-height: 0px;
      border: 0;
    }
    &:hover {
      background-color: #000;
      color: white;
      border-color: $color-accent; //border-right-color: $color-accent;
      @include viewPhone() {
        border-color: $color-nav;
      }
    }
    &.active {
      background-color: $color-accent;
      color: white;
    }
    @include viewPhone() {
      &:not(:first-child) {
        display: none;
      }
    }
  }
  .icon {
    display: none;
    font-weight: bolder;
    color: white;
    font-size: 1.6em;
    @include viewPhone() {
      float: right;
      display: block !important;
    }
  }
  &.responsive {
    @include viewPhone() {
      //position: relative;
      a.icon {
        position: absolute;
        right: 0;
        top: 0;
        color: white;
      }
      a {
        float: none;
        display: block;
        text-align: left;
      }
    }
  }
}