$waybill-row-height: 0.55cm;
.wbill {
    border-spacing: 0px;
    border-collapse: separate;
    font-family: Arial, Helvetica, sans-serif;
    input {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        font-size: 1em;
        line-height: 1.75em;
    }
    textarea {
        display: block;
        margin: auto;
        width: 100%;
        font-size: 1em;
        padding: 5px 0;
        line-height: 1.75em;
        background-image: linear-gradient(#555 1px, transparent 1px);
        background-size: 100% 1.75em;
        border: 0;
        outline: 0;
        resize: none;
    }
    thead {
        td {
            text-align: center;
        }
    }
    tbody {
        tr {
            &,
            td,
            th {
                height: $waybill-row-height;
            }
        }
        tr:empty {
            height: 0.1cm;
        }
        tr.row-double {
            &,
            td,
            th {
                height: $waybill-row-height * 2;
            }
        }
        tr.row-quad {
            &,
            td,
            th {
                height: $waybill-row-height * 4;
            }
        }
        tr.row-hex {
            height: $waybill-row-height * 6;
        }
        td[rowspan="2"] {
            height: $waybill-row-height * 2;
        }
        td,
        th {
            border: 1px solid #000;
        }
        th:not(.deco-b) {
            font-weight: normal;
        }
        th {
            background-color: #ddd;
        }
        td {
            background-color: #fff;
            overflow: hidden;
        }
        border: 1px solid #000;
    }
    .billheader {
        tr {
            td {
                height: $waybill-row-height * 2.5;
            }
        }
        img {
            height: 95%;
        }
        vertical-align: middle;
        text-align: center;
        font-size: 3.5em;
        font-weight: bold;
    }
    .billfooter {
        font-size: 1.25em;
    }
    .dispatches span:not(:first-child)::before {
        content: " // ";
    }
}

@media print {
    @page {
        size: A4 portrait;
        margin: 10mm 25mm 0mm 25mm;
    }
    .wbill {
        display: table;
        position: absolute;
        font-size: 0.3cm;
        max-height: 25.94cm;
        overflow: hidden;
        input,
        textarea {
            outline: none;
            border: none;
        }
    }
    body {
        background-color: #fff;
        margin: 0;
        padding: 0;
    }
    article {
        background-color: #fff;
        margin: 0;
        padding: 0;
    }
    nav,
    .page-header,
    header,
    footer {
        display: none;
    }
}

@media screen {
    .wbill {
        input,
        textarea {
            outline: 2px greenyellow solid;
        }
    }
}