$gutters: 20px;
$element-margin: 5px;
$border-width: 2px;
$border-width-image: 1px;
$border-round: 8px;
$nav-height: '60px';
$header-height: '200px';
$mobile-view-threshold: '600px';

@import 'modules/colors';
@import 'modules/mediaq';

body {
    margin: 0;
    background-color: #000;
    background-repeat: repeat;
}

@import 'modules/body_landing';
@import 'modules/font';
