$gutters: 10px;
$element-margin: 5px;
$border-width: 2px;
$border-width-image: 1px;
$border-round: 8px;
$nav-height: '60px';
$header-height: '200px';
$article-width-max: 900px;

@import 'modules/colors';
@import 'modules/mediaq';
@import 'modules/depthshading';


@import 'modules/body_main';

@import 'modules/nav_main';
@import 'modules/header_main';

@import 'modules/locations';
@import 'modules/font';

@import 'modules/waybill';
@import 'modules/contacts';