$gutters: 20px;
$element-margin: 5px;
$border-width: 2px;
$border-width-image: 1px;
$border-round: 8px;
$nav-height: '60px';
$header-height: '200px';
$mobile-view-threshold: '600px';

@import 'modules/colors';
@import 'modules/mixins';

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #000;
    background-repeat: repeat;
}


hr {
    border-width: 2px;
}

article {
    background-color: $color-light;
    padding: $gutters;
    min-height: calc(100vh - #{$nav-height} - #{$header-height} - #{$gutters * 2});
    @include respond-to-min('medium') {
        max-width: 992px;
        margin: auto;
    }
}

@media print {
    .noprint {
        display: none;
    }
}

@import 'modules/nav';
@import 'modules/locations';
@import 'modules/header';
@import 'modules/font';
@import 'modules/depthshading';
@import 'modules/waybill';
@import 'modules/contacts';