{{#>wrapper}}
    <div class="intro">
        {{{abstracted_content.marked_doc}}}
        <!--Client refused copy-edit-->
    </div>
    <div class="spacer"></div>
    <div>
        Thank you, Jazoo Express Courier Ltd.
    </div>
{{/wrapper}}