<!DOCTYPE html>
<html>

<head>
    <title>{{global.site.title}}</title>
    <link rel="stylesheet" href="/assets/css/landing.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex" />
</head>

<body>
    <main>
        <section>
            <svg viewBox="0 0 66.145832 30.427085">
                <defs>
                    <linearGradient id="truckFillGradient">
                        <stop offset="5%" stop-color="black" />
                        <stop offset="95%" stop-color="green" />
                    </linearGradient>
                </defs>
                <use xlink:href="/assets/img/jazoo-logo.svg#jazoo-svg"></use>
            </svg>
            <header>Express Courier Ltd</header>
            <hr style="border-color: #eee;width: 600px; border-radius: 5px;" />
            <div style="margin-top:2em;">
                {{{abstracted_content.marked_doc}}}
            </div>
        </section>
        <section>
            <nav class="responsive" style="align:center;">
                {{#each global.navigation.items}}
                <a href="{{url}}">{{title}}</a> {{/each}}

            </nav>
        </section>
    </main>

    <script data-main="/assets/js/main.js" src="/assets/js/require.js"></script>
    {{!--
    <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
</body>

</html>