{{#>wrapper}}
<span itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name" content="Jazoo Express Courier Ltd"></span>
    <span itemprop="url" content="http://www.jazoocourier.com/"></span>
    <div class="intro">
        {{{abstracted_content.marked_doc}}}
    </div>
</span>
{{/wrapper}}