{{#>wrapper}}
    <div class="noprint">
        {{{description.abstracted_content.marked_doc}}}
        <input type="button" value="Print this Waybill" onClick="window.print()">
        <a href="/assets/img/waybill.pdf">Downloadable Waybill</a>
        <hr/>
    </div>
    <table class="wbill">
        <col width="10%">
        <col width="22%">
        <col width="14%">
        <col width="22%">
        <col width="10%">
        <col width="22%">
        <thead class="billheader">
            <tr>
                <td colspan="2">
                    <img src="/assets/img/jazoo.png">
                </td>
                <td colspan="4">
                    Express Courier Ltd
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="6" class="deco-b deco-u">Client Use Only:</th>
            </tr>
            <tr class="row-double">
                <th>Contact Name:</th>
                <td><input type="text"></td>
                <th>Contact Location:</th>
                <td><input type="text"></td>
                <th>Billed To:</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th rowspan="2">Date</th>
                <td rowspan="2"><input type="text"></td>
                <th>Delivery From:</th>
                <td colspan="3"><input type="text"></td>
            </tr>
            <tr>
                <th>Delivery To:</th>
                <td colspan="3"><input type="text"></td>
            </tr>
            <tr class="row-quad">
                <th>Total # Items</th>
                <td><input type="text"></td>
                <th>Item Description</th>
                <td colspan="3"><textarea rows="6"></textarea></td>
            </tr>
            <tr class="row-double">
                <th colspan="2" class="deco-u">Authorized Shipper Signature</th>
                <td colspan="4"></td>
            </tr>
        </tbody>
        <tr></tr>
        <tbody>
            <tr>
                <th colspan="6" class="deco-b deco-u">Driver Use Only</th>
            </tr>
            <tr class="row-double">
                <th>P/U Driver Name:</th>
                <td></td>
                <th rowspan="2">P/U Time:</th>
                <td class="al-right"> am</td>
                <th rowspan="2">D/O Time:</th>
                <td class="al-right"> am</td>
            </tr>
            <tr class="row-double">
                <th># Items P/U:</th>
                <td></td>
                <td class="al-right"> pm</td>
                <td class="al-right"> pm</td>
            </tr>
            <tr></tr>
            <tr>
                <th colspan="6" class="deco-b deco-u">Additional Stop Details</th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">Location</th>
                <th># of Packages</th>
                <th colspan="2">Picked Up / Dropped Off?</th>
            </tr>
            <tr>
                <th>1</th>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <th>2</th>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <th>3</th>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
            </tr>
            <tr></tr>
            <tr>
                <th colspan="2">Total # Items Dropped Off:</th>
                <td></td>
                <th>D/O Driver Name:</th>
                <td colspan="2"></td>
            </tr>
            <tr class="row-double">
                <th colspan="2" class="deco-u">Authorized Receiver Signature</th>
                <td colspan="4"></td>
            </tr>
        </tbody>
        <tr></tr>
        <tbody>
            <tr>
                <th colspan="6" class="deco-b deco-u">HOTSHOT DETAILS</th>
            </tr>
            <tr class="row-double">
                <th>Total KM:</th>
                <td colspan="2"></td>
                <th>Or Total Charge ($):</th>
                <td colspan="2"></td>
            </tr>
        </tbody>
        <tr></tr>
        <tbody>
            <tr>
                <th colspan="6" class="deco-b deco-u">Office Use Only:</th>
            </tr>
            <tr class="row-double">
                <th>Verified By:</th>
                <td colspan="2"></td>
                <th>Invoiced By:</th>
                <td colspan="2"></td>
            </tr>
        </tbody>
        <thead class="billfooter">
            <tr>
                <td colspan="6">
                    To request a hot shot please contact dispatch at the city nearest you:
                    {{#grouped_each 2 dispatches}}
                    <div class="dispatches">
                        {{#each this}}
                        <span>
                            <u>{{name}} {{phone}}</u>
                        </span>
                        {{/each}}
                    </div>
                    {{/grouped_each}}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Thank you for supporting local and choosing Jazoo Express Courier Ltd.
                </td>
            </tr>
        </thead>
    </table>
{{/wrapper}}